<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Gerenciamento de Livros</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header class="header-centered">
  <h1>CRUD de Livros</h1>
  <nav>
    <a href="/">Início</a>
    <a href="/livros">Livros</a>
  </nav>
</header>
  <main>
